---
import { getEntry, type CollectionEntry } from 'astro:content';
import slugify from '@sindresorhus/slugify';
import { Image } from 'astro:assets';

export interface Props {
	post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;

const { data: authorData } = await getEntry('team', post.data.author.id);
---

<article class="">
	<a
		href={import.meta.env.BASE_URL +
			'blog/' +
			post.data.categories.map((category) => category.slug) +
			'/' +
			slugify(post.slug)}
		class="grid grid-cols-2 items-center gap-5 rounded-lg border border-gray-200 bg-white shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 md:flex-row"
	>
		<div class="">
			{
				post.data.coverImage && (
					<Image
						src={post.data.coverImage}
						alt={post.data.title}
						class="col-span-1 aspect-9/5 rounded-t-lg object-cover md:h-auto md:rounded-none md:rounded-l-lg"
					/>
				)
			}
		</div>

		<div class="col-span-1 flex flex-col justify-between p-4 leading-normal">
			<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
				{post.data.title}
			</h5>
			<p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
				{post.data.description}
			</p>
			<p>{authorData.name}</p>
		</div>
	</a>
</article>
