---
import '~/assets/styles/global.css';
import '@fontsource-variable/inter';

import { SiteMetadata } from '~/config';

export interface Props {
	title?: string;
	description?: string;
	coverImage?: string;
	canonicalURL?: string;
}

const {
	title = SiteMetadata.title,
	description = SiteMetadata.description,
	coverImage = SiteMetadata.ogImage,
	canonicalURL = new URL(Astro.url.pathname, Astro.site).href,
} = Astro.props;
---

<!doctype html>
<html lang={SiteMetadata.language}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="icon" sizes="32x32" href="/favicon.ico" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<link rel="manifest" href="/manifest.json" />
		<meta name="generator" content={Astro.generator} />

		<link rel="canonical" href={canonicalURL} />

		<title>{title}</title>
		<meta name="title" content={title} />
		<meta name="description" content={description} />

		<meta name="theme-color" media="(prefers-color-scheme: light)" content={SiteMetadata.themeColorLight} />
		<meta name="theme-color" media="(prefers-color-scheme: dark)" content={SiteMetadata.themeColorDark} />

		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={new URL(coverImage, Astro.url)} />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />

		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content={new URL(coverImage, Astro.url)} />

		<link rel="sitemap" href="/sitemap-index.xml" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		width: 100%;
		height: 100%;
		margin: 0;
	}
</style>
